h1 {
    text-align: center;
    background-color: lightblue;
}

p {
    text-align: center;
    background-color: green;
}

p+p {
    text-align: right;
    width: 300px;
    margin: 0 auto 0 auto;
    background-color: yellow;
}

p~div {
    text-align: right;
    padding: 20px 0 20px 0;
    background-color: black;
}

div>div {
    background-color: red;
}

span {
    width: 300px;
    display: block;
    text-align: center;
    background-color: lightgray;
    margin: 0 auto 0 auto;
}