/* on définit l'animation via plusieurs keyframes */

@keyframes slide {
    0% {
        left: 0%;
    }
    15% {
        left: 0%;
    }
    20% {
        left: -100%;
    }
    /* chaque image est déplacée de 100% vers la gauche du conteneur */
    35% {
        left: -100%;
    }
    40% {
        left: -200%;
    }
    55% {
        left: -200%;
    }
    60% {
        left: -300%;
    }
    75% {
        left: -300%;
    }
    80% {
        left: -400%;
    }
    100% {
        left: -400%;
    }
}

#slider {
    /* on définit une largeur du slider afin de le centrer */
    width: 512px;
    /* on définit la hauteur du slider */
    height: 384px;
    /* on centre le slider */
    margin: auto;
    /* on évite que le contenu qui déborde soit visible. Si on l'enlève, on voit toutes les images */
    overflow: hidden;
    border: 5px solid red;
}

#slider #slider-container {
    /* on applique une position relative sur le conteneur des images pour les animer ensuite avec la propriété left */
    position: relative;
    /* on définit la largeur du conteneur des images */
    width: 500%;
    /* on applique l'animation slide pendant 15 secondes avec un loop infini */
    animation: 10s slide infinite;
}

#slider #slider-container img {
    /* on applique une largeur de 20% (100% / 5 images = 20%) */
    width: 20%;
    /* et on place les images les unes à côté des autres */
    float: left;
}