body {
    margin: 0;
    padding: 0;
}

#slider {
    height: 400px;
    width: 100%;
}

#slider-container {
    height: 400px;
    width: 500px;
    border: 5px solid red;
    margin: 0 auto;
    overflow: hidden;
}

img {
    width: 500px;
    height: 400px;
    animation-name: slide;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes slide {
    25% {
        transform: translate(0, -400px);
    }
    50% {
        transform: translate(0, -800px);
    }
    75% {
        transform: translate(0, -1200px);
    }
    100% {
        transform: translate(0, -1600px);
    }
}