@font-face {
    font-family: 'Magnificent Personal Use';
    src: url('font/magnificent-personal-use/MagnificentPersonalUse.eot');
    src: url('font/magnificent-personal-use/MagnificentPersonalUse.eot?#iefix') format('embedded-opentype'), url('font/magnificent-personal-use/MagnificentPersonalUse.woff2') format('woff2'), url('font/magnificent-personal-use/MagnificentPersonalUse.woff') format('woff'), url('font/magnificent-personal-use/MagnificentPersonalUse.ttf') format('truetype'), url('font/magnificent-personal-use/MagnificentPersonalUse.svg#MagnificentPersonalUse') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Magnificent Personal Use';
    font-weight: normal;
    font-style: normal;
}