/*
    Aide-mémoire concernant les tailles par défaut:

    Le texte aura par défaut une taille de 16 px dans les navigateurs
    et les balise d'entêtes h1 à h6 auront les tailles suivantes par défaut:

    <h1>    32 px       (2em)
    <h2>    24 px       (1.5em)
    <h3>    18.72 px    (1.17em)
    <h4>    16 px       (1em)
    <h5>    13.28 px    (0.83em)
    <h6>    10.72 px    (0.67em)
*/

main {
    width: 90%;
    margin: auto;
    border: 1px solid black;
}

main h1 {
    text-align: center;
}

main article:first-of-type {
    /*
        Pour utiliser l'espace total, il est nécessaire de retirer les retours de chariot et
        autres en réduisant la taille de la police à 0px
    */
    font-size: 0;
}

main article:first-of-type h2 {
    /* Remet le taille par défaut */
    font-size: 24px
}

main article:first-of-type div {
    width: 50%;
    display: inline-block;
    /* Remet le taille par défaut */
    font-size: 16px;
}

main article:first-of-type div:first-of-type {
    background-color: red;
}

main article:first-of-type div:last-child {
    background-color: gray;
}

main article:last-of-type div {
    background-color: blue;
}

main article:last-of-type p {
    position: relative;
    height: 200px
}

main article:last-of-type p a {
    display: block;
    width: 200px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-align: center;
    background-color: yellow;
}