
.container {
    display: grid;
    grid-auto-rows: minmax(100px, auto);
  }
  header {
    grid-column: 1/4;
    grid-row: 1;
    background-color: red;
  }
  nav {
    grid-column: 1;
    grid-row: 2 ;
    background-color: blue;
  }
  main {
    grid-column: 2;
    grid-row: 2 / 3;
    background-color: blanchedalmond;
  }
  aside {
    grid-column: 3;
    grid-row: 2;
    background-color: blueviolet;
  }
  footer {
    grid-column: 1/4;
    grid-row: 3;
    background-color: cadetblue;
  }
