body {
    background-color: lightgrey;
}

form {
    width: 75%;
    margin: auto;
    border: 1px solid black;
}

div {
    width: 80%;
    margin: 10px auto 10px auto;
    border: 1px solid red;
}

label {
    width: 150px;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    display: block;
}

input {
    width: 75%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

div+div+div {
    text-align: center;
}