div p:nth-of-type(1) {
    color: orange;
}

div p:nth-of-type(2) {
    border: solid black;
    color: red;
}

div p:nth-of-type(1n+3) {
    border: solid black;
}

img[alt*="koala"] {
    /* tous les éléments <a> dont l'attribut href fini par "pdf" */
    border: solid red 5px;
}

img[alt*="koalas"] {
    /* tous les éléments <a> dont l'attribut href fini par "pdf" */
    border: solid yellow 10px;
}

img[alt*="voiture"] {
    /* tous les éléments <a> dont l'attribut href fini par "pdf" */
    border: solid blue;
}

ul li:nth-of-type(1) {
    /* dernier élément <p> contenu dans un autre élément */
    color: red;
}

ul li:nth-of-type(3) {
    /* dernier élément <p> contenu dans un autre élément */
    border-bottom: solid red;
}

ul li:nth-of-type(4n+4) {
    border: solid orange 1px;
}