* {
    box-sizing: border-box;
}

body {
    color: #fff;
}

div {
    margin: auto;
    width: 700px;
    padding: 1em;
    background-color: #f00000;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

article {
    margin: 1em;
    padding: 1em;
}

article:first-child {
    background-color: green;
    /*
        offset-x | offset-y | blur-radius | spread-radius | color
        Note: La présence du mot-clé inset modifie l'ombre afin qu'elle soit tournée vers l'intérieur du cadre.
    */
    box-shadow: 10px 10px 12px -8px rgba(69, 61, 69, 1) inset;
}

article:nth-of-type(2) {
    background-color: #ccc;
    border-radius: 10px 10px 10px 10px;
}

article:nth-of-type(3) {
    background-color: #000;
    /* L'opacity s'applique aussi au texte */
    opacity: 0.5;
}

article:nth-of-type(4) {
    /* L'opacity s'applique seulement sur la couleur de fond */
    background-color: rgba(0, 0, 0, 0.5);
}