div {
    border: 1px solid black;
}

.fixe-100 {
    width: 100px;
    height: 100px;
}

.height-100 {
    height: 100px;
}

.width-100 {
    width: 100px;
}

.conteneur-fixe {
    width: 100px;
    height: 100px;
}

.conteneur-fixe img {
    width: 100%;
}

.maximum-width img {
    width: 100%
}

.maximum-width-limit-height img {
    max-width: 100%;
    max-height: 400px;
}