@font-face {
    font-family: 'sofiaregular';
    src: url('../fonts/sofia-regular-webfont.eot');
    src: url('../fonts/sofia-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sofia-regular-webfont.woff2') format('woff2'), url('../fonts/sofia-regular-webfont.woff') format('woff'), url('../fonts/sofia-regular-webfont.ttf') format('truetype'), url('../fonts/sofia-regular-webfont.svg#sofiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    font-family: "sofiaregular", Verdana, Arial, sans-serif;
    background: rgba(58, 68, 77, 1);
    background: linear-gradient(to bottom, rgba(58, 68, 77, 1) 0%, rgba(238, 238, 238, 1) 100%);
}

body>div {
    background-color: #fff;
    width: 960px;
    padding: 20px;
    /* Taille minimum verticale. */
    min-height: 800px;
    /* Centrer tout le contenu de la page. */
    margin: 0 auto;
}

section>div {
    /* Seulement pour permettre le positionnement absolute du h1. */
    position: relative;
    height: 350px;
}

section>div img {
    /* Utilise 100% de la largeur et conserve le ratio de l'image. */
    width: 100%;
}

h1 {
    font-size: 2.5em;
    padding: 20px;
    position: absolute;
    width: 100%;
    top: 25%;
    /* IE fallback */
    background-color: lightblue;
    background-color: rgba(173, 216, 230, 0.8);
}

h2 {
    font-size: 1.5em;
    /* offset-x | offset-y | blur-radius | color */
    text-shadow: 5px 5px 5px rgba(46, 74, 117, 0.79);
}

form {
    background-color: rgb(173, 216, 230);
    /* Syntaxe alternative: border-top-right-radius: 25px;  */
    border-radius: 0px 25px 0px 0px;
    width: 80%;
    margin: 0 auto;
}

form div {
    padding-bottom: 20px;
}

fieldset {
    border: 0;
    padding-left: 150px;
    padding-bottom: 30px;
}

label, input {
    display: inline-block;
    width: 200px;
}

input[type="submit"] {
    margin-left: 206px;
}

label.star::after {
    content: " *";
    color: red;
    width: 20px;
}

input:focus:invalid {
    border: 3px solid red;
}

input:focus:valid {
    border: 3px solid green;
}