body {
    background-color: #2b2d2f;
    margin: 0;
    padding: 0;
}

header {
    height: 200px;
    padding: 10px;
    position: relative;
}

.header-title {
    text-align: center;
    color: white;
    font-size: 40px;
    position: absolute;
    top: 20px;
    right: 30px;
}

main {
    height: calc(100vh - 200px - 50px - 20px);
    background-color: black;
}

main>div {
    text-align: center;
    color: white;
    font-size: 40px;
}

footer {
    height: 50px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.avatar {
    background-image: url('../image/profile-image.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 170px;
    position: relative;
}

/* Création du dégradé */
.avatar .avatar-fade {
    height: 100%;
    width: 110px;
    /* Dégradé de droite ver la gauche en partant de transparent jusqu'a #2b2d2f */
    background: linear-gradient(to left, transparent 0, #2b2d2f 100%);

    /*
        Syntaxe équivalente
        background: linear-gradient(to left, rgba(0,0,0,0) 0, #2b2d2f 100%);
    */
}

/* Création de la barre oblique */
.avatar .avatar-slash {
    background-color: #2b2d2f;
    height: 202px;
    width: 25px;
    position: absolute;
    top: 0;
    right: -7px;
    transform: rotate(5deg);
    box-shadow: inset 6px 0 5px rgba(0, 0, 0, 0.16);
}