.carre-rouge:hover {
    transform: scale(2);
}

/*
    En déclarant la transition sur la classe et non sur la pseudo-class,
    la transition sera donc effective au moment de retourner a la valeur initiale.
*/

.carre-rouge {
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease;
    /* transition: all 2s ease; */
}

.carre-bleu {
    background-color: lightblue;
    width: 50px;
    height: 50px;
}

:hover {
    cursor: pointer;
}

.carre-bleu:hover {
    transform: rotate(180deg);
    transition: transform 1s ease-in;
}

.carre-vert:hover {
    background-color: pink;
    transition: background-color 0.5s linear;
}