body {
    min-height: 800px;
    background: rgba(21, 82, 97, 1);
    background: linear-gradient(to bottom, rgba(21, 82, 97, 1) 0%, rgba(211, 231, 237, 1) 100%);
}

div {
    width: 960px;
    margin: 0 auto;
    background: #f2e8e6;
    background: radial-gradient(ellipse at center, #f2e8e6 0%, #e02110 100%);
}