div {
    background-color: red;
    padding: 10px;
    width: 100%;
    color: white;
    box-shadow: 10px 5px 5px rgb(32, 32, 32)
}

article {
    text-align: center;
    margin: 15px;
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-radius: 15px;
    background-color: red
}

article:nth-of-type(1) {
    text-shadow: 1px 1px 2px rgb(255, 255, 255);
    background-color: green;
}

article:nth-of-type(2) {
    background-color: gray;
}

article:nth-of-type(3) {
    background-color: black;
    opacity: 0.5;
}

article:nth-of-type(4) {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.5);
}