@keyframes deplacer {
    from {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(100%);
    }
    50% {
        transform: translate(100%, 100%);
    }
    75% {
        transform: translateY(100%);
    }
    to {
        transform: translateX(0%);
    }
}

#anim-carre {
    animation-name: deplacer;
    animation-duration: 5s;
    animation-iteration-count: 1;
}