@keyframes deplacer {
    0% {
        left: 0px;
        top: 0;
    }
    20% {
        left: 100px;
        top: 0;
    }
    40% {
        left: 100px;
        top: 100px;
    }
    60% {
        left: 0px;
        top: 100px;
    }
    80% {
        left: 0px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

div#anim-carre {
    animation-name: deplacer;
    animation-duration: 5s;
    animation-iteration-count: 1;
    /* animation-iteration-count: infinite; */
}