body {
    font-family: Arial, sans-serif;
}

/* rappel 	sélecteur du frère adjacent, donc l'élément qui suit immédiatement */

h3+p {
    color: red;
}

/* sélecteur de précédence*/

/* cible tous les paragraphes frères du h3 qui viennent après */

h3~p {
    border: 2px solid black;
}

/* cible le seul p dans la collection d'élément enfant du body */

p:only-of-type {
    background-color: pink;
}

/* rappel pour cibler la valeur exacte d'un attribut */

img[alt="koala"] {
    border: 5px solid red;
}

/* cible toutes les images qui ont un attribut alt qui commence par ko */

img[alt^="ko"] {
    opacity: 0.5;
}

/* cible toutes les images qui ont un attribut alt qui finit par e */

img[alt$="e"] {
    opacity: 0.8;
}

/* cible toutes les images qui ont un attribut alt qui contient "s" */

img[alt*="s"] {
    border: 10px solid yellow;
}

/* cible toutes les images qui ont un attribut alt qui NE contient PAS de "k" */

img:not([alt*="k"]) {
    border: 3px solid blue;
}

/* Sélecteur du premier enfant. S'applique à l'ENFANT pas au parent */

li:first-child {
    color: red;
}

/* cible le dernier enfant */

li:last-child {
    color: purple;
}

/* cible le 3eme enfant */

li:nth-child(3) {
    font-weight: bold;
}

/* cible tous les enfant pairs */

li:nth-child(even) {
    font-style: italic;
}

/* cible tous les enfant impairs */

li:nth-child(odd) {
    text-decoration: underline;
}

/* cible tous les enfants d'un parent à partir du 6eme -inclus */

li:nth-child(n+6) {
    font-size: 30px;
}

/* cible tous les enfants d'un parent jusqu'au 4eme -inclus */

li:nth-child(-n+4) {
    font-size: 10px;
}

/* cible tous les 4eme enfants d'un parent */

li:nth-child(4n) {
    border: 1px solid orange;
}

/* cible l'enfant unique */

li:only-child {
    background-color: green;
}

/* cible les premiers elements paragraphes contenus dans un autre élément. peu importe s'ils ont des frères aines d'un autre type */

p:first-of-type {
    color: orange;
}

/* cible l'élément paragraphe qui vient en 2eme apres un autre paragraphe */

p:nth-of-type(2) {
    border-left: 2px solid red;
}