header h1, main h2 {
    width: 50%;
    text-align: center;
    margin: 20px auto 20px auto;
}

/*
    ----------------------------------------
    - Mise en page de la galerie d'images
    ----------------------------------------
*/

.product-gallery {
    width: 75%;
    margin: 20px auto 20px auto;
    /* Peut importe le nombre de boîtes, le contenu est toujours centré */
    text-align: center;
}

.product-gallery>div {
    /* Correction de l'alignement déterminé par le parent */
    text-align: left;
    /* Change le mode de positionnement pour permettre le positionnement "absolute" à l'intérieur */
    position: relative;
    /* Permettre 2 boîtes par ligne si l'espace le permet */
    display: inline-block;
    /* Correction de l'alignement verticale */
    vertical-align: top;
    /* Taille fixe permettant 2 boîtes en largeur sur un grand écran */
    width: 500px;
    height: 420px;
    margin: 20px;
    border: 1px solid black;
    ;
}

/*
    ----------------------------------------
    - Le bouton ajouter au panier
    ----------------------------------------
*/

.product-gallery>div a {
    /* Le "absolute" est possible puisque le parent est "relative" */
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
}

.product-gallery>div a:hover {
    background-color: #ff8080;
    border: 1px solid #660000;
    color: black;
}

.product-gallery a {
    color: #660000;
}

.product-gallery a img {
    width: 25px;
    height: 25px;
    /* Image au même niveau que le texte */
    vertical-align: middle;
}

/*
    ----------------------------------------
    - L'image du produit
    ----------------------------------------
*/

.product-gallery figure img {
    max-width: 100%;
    max-height: 200px;
}

/*
    ----------------------------------------
    - Liste des caractéristiques du produit
    ----------------------------------------
*/

.product-gallery ul {
    position: absolute;
    top: 80px;
    left: 250px;
}

/*
    ----------------------------------------
    - Description du produit
    ----------------------------------------
*/

.product-gallery p {
    padding: 10px;
}