h2 {
    position: absolute;
    top: calc(50% - 67px);
    left: calc(50% - 90px);
    width: 180px;
    text-align: center;
    background-color: turquoise;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
}