fieldset {
    width: 500px;
    margin: auto;
    background-color: lightgrey;
}

fieldset legend {
    padding: 10px;
    background-color: grey;
    color: white;
}

fieldset div {
    padding: 10px;
}

fieldset div label {
    display: inline-block;
    width: 175px;
    text-align: right;
    padding-right: 10px;
}

fieldset+div {
    text-align: center;
    padding-top: 10px;
}

input[type=submit] {
    background-color: grey;
    color: white;
    margin: auto;
    padding: 10px;
}

:required {
    border: 3px solid black;
}

input:invalid {
    border: 3px solid red;
}