header {
    background-color: grey;
}

main {
    background-color: white;
}

footer {
    background-color: grey;
    text-align: center;
    padding: 5px;
}

header img {
    margin: 5px 5px 0px 5px;
}

header img, header nav {
    display: inline;
    /* pas nécessaire avec le a */
}

header {
    position: relative;
}

header nav {
    position: absolute;
    top: 60px;
    right: 30px;
}

header nav a {
    padding: 10px;
    background-color: white;
}

#page {
    width: 75%;
    margin: auto;
}

main {
    text-align: center;
}

main figure {
    display: inline-block;
}