body {
    margin: 0;
}

.banner {
    /* Permets le positionnement absolu */
    position: relative;
}

.banner img {
    /* Force l'usage de la taille horizontal pour avoir une image réactive ou responsive en anglais. */
    width: 100%;
}

h2 {
    width: 200px;
    padding: 20px;
    background-color: rgba(155, 250, 200, 0.7);
    position: absolute;
    color: white;

    /*
        La hauteur de l'image moins la hauteur de la balise h2 nous donne l'espace excédentaire.
        Si on divise l'espace excédentaire en 2 nous avons donc la taille nécessaire pour un positionnement vertical central dynamique.
    */
    top: calc((100% - 68px) / 2);

    /* Même calcule pour le positionnement horizontal. */
    left: calc((100% - 200px) / 2);

    /* Retire les marges par defaut ajouté par le navigateur. */
    margin: 0;
}

